<h1>New Recipe</h1>

<section>
  <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
    <%= f.label :name, 'Recipe name' %>
    <%= f.text_field :name, autofocus: true, placeholder: 'Add recipe name' %><br/>

    <%= f.label :preparation_time, 'Preparation Time'%>
    <%= f.number_field :preparation_time, autofocus: true, placeholder: 'Time in hours' %><br/>

    <%= f.label :cooking_time, 'Cooking Time' %>
    <%= f.number_field :cooking_time, autofocus: true, placeholder: 'Time in hours' %><br/>

    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, autofocus: true, placeholder: 'Recipe description' %><br/>

    <%= f.label :public, "Do you want to make it public?" %>
    <%= f.check_box :public, autofocus: true%><br/>

    <%= f.submit "Create recipe", class: "create-btn btn" %>
  <% end %>

</section>

<p><%=link_to 'Back', recipes_path %></p>