<h1>Recipe details</h1>

<p>Name: <%= @recipe.name %></p>
<p>Description: <%= @recipe.description %></p>
<p>Cooking Time: <%= @recipe.cooking_time %></p>
<p>Preparation Time: <%= @recipe.preparation_time %></p>
<p>public: <%= @recipe.public %></p>