<h1><%= @recipe.name %></h1>

<%= button_to @recipe.public? ? 'Make private' : 'Make public', toggle_public_path(id: @recipe.id), method: :post %>

<p>Description: <%= @recipe.description %></p>
<p>Cooking Time: <%= @recipe.cooking_time %></p>
<p>Preparation Time: <%= @recipe.preparation_time %></p>
<p>public: <%= @recipe.public %></p>

<button><%= link_to 'Add ingredient', new_recipe_recipe_food_path(recipe_id: @recipe.id) %></button></br>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @recipe_foods.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td>$<%= recipe_food.food.price * recipe_food.quantity %></td>
        <td><%= link_to 'Remove', recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), data: {turbo_method: :delete, turbo_confirm: 'Delete this recipe food?'} %></td>
        <td><%= link_to 'Modify', edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>