<div class="d-flex justify-content-center">
  <div class="bg-opacity-75 bg-white p-5">
    <h2>Forgot your password?</h2>
    
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="actions">
        <%= button_tag type: "submit", class: "btn btn-warning mb-5" do %>
          <i class="bi bi-envelope-at"></i> Send me reset password instructions
        <% end %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>

  </div>
</div>
