<h1>All Foods</h1>
<h2>Welcome "<%= @user.name %>"</h2>

<%= link_to "New food", new_food_path %>

<table>
  <thead>
    <tr>
      <th>Food</th>
      <th>Measurement unit</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td><%= link_to 'View', food_path(id: food.id) %></td>
        <td><%= link_to 'Delete', food_path(id: food.id), data: {turbo_method: :delete, turbo_confirm: 'Delete the food?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>
